<footer class="footer has-text-centered">
  <div class="container">
    <div class="columns">
      <div class="column is-4-desktop is-offset-2-desktop">
        <p>
          <strong class="has-text-weight-semibold">
            <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.4</a>
          </strong>
        </p>
        <p>
          <small>
            Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
          </small>
        </p>
        <p style="margin-top: 1rem;">
          <a href="http://bulma.io">
            <img src="assets/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
          </a>
        </p>
      </div>

      <div class="column is-4-desktop">
        <p>
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/images/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
    </div>

    <div class="footer-col">
      <p>{{ site.description | escape }}</p>
    </div>

  <div class="social-links">
    {%- include social.html -%}
  </div>

</footer>